header {
    height: 2.2rem;
    line-height: 2.2rem;
    background: #000;
}

.header {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    display: block;
    text-align: center;
}

.header-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.banner11 {
    width: 100%;
    height: 8rem;
    background: url(../img/banner2.jpg) no-repeat;
    background-size: 100%;
}

.banner11 h3 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
    font-weight: 300;
}

.tabs {
    background: #fafafa;
    display: flex;
    padding: 0 1rem;
}

.tabs a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 2rem 0 1.65rem 0;
    font-size: 0.8rem;
    flex: 1;
    line-height: 1.2rem;
}

.active .intr-svg .st0 {
    fill: #e20d22
}

.tabs a.active span {
    color: #e20d22;
}

.tabs a.active p {
    color: #e20d22;
}

.tabs a span {
    display: block;

}

.tabs-title {
    font-size: 1rem;
    color: #e20d22;
    margin-bottom: 2.75rem;
    margin-top: 1.5rem;
}

.tabs-title span {
    border: 2px solid #e20d22;
    margin-right: 0.5rem;
}

.swiper-css .content-slide {
    padding: 0 1.375rem;
}

.mar-text {
    margin-left: 1rem;
    line-height: 1.1rem;
    font-size: 0.75rem;
    margin-top: 1rem;
}

.tabs_echar {
    overflow: hidden;
    display: flex;
}

.tabs_echar li {
    text-align: center;
    list-style: none;
    flex: 1;
}

.tabs_echar li div {
    display: flex;
    height: 4rem;
}

.sick-icon {
    width: 2rem !important;
    margin: 0 auto;
}

.arrow {
    width: 1.2rem !important;
    margin-top: 16px
}

.hosp-icon {
    width: 4rem !important;
}

.hosp-icon1 {
    width: 3rem !important;
}

.hosp-icon2 {
    width: 3rem !important;
    height: 2.7rem;
    margin-top: 0.3rem;
}

.sick-icon {
    width: 2rem !important;
    margin: 0 auto;
}

.arrow {
    width: 1.2rem !important;
    margin-top: 16px
}

.hosp-icon {
    width: 4rem !important;
}

.hosp-icon1 {
    width: 3rem !important;
}

.hosp-icon2 {
    width: 3rem !important;
    height: 2.7rem;
    margin-top: 0.3rem;
}

.intr-svg {
    width: 3rem;
    height: 2rem;
    margin-bottom: 0.6rem;
}

.active .intr-svg .st0 {
    fill: #e20d22
}

.sort-wx {
    display: flex;
    height: 5rem;
    padding: 0 1rem;
}

.sort-wx svg {
    width: 100px;
}

.control {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}

