.show{
    width: 18.75rem;
    height:32.925rem;
    background: url("../images/bg.png") no-repeat;
    -webkit-background-size:100%;
    background-size:100%;
    position: relative;
}
.goods1,.goods2{
    position: absolute;
    width:17.6rem;
    height: 8rem;
    left: 0.55rem;
}
.goods1{
    top: 9.675rem;;
}
.goods2{
    bottom:4.95rem;
}